---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import MoreFromHook from '../../components/MoreFromHook.astro';
import Download from '../../components/Download.astro';
const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

const products = (await getCollection('software')).sort(
    (a, b) => a.data.position.valueOf() - b.data.position.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			
			ul {
                display: flex;

                justify-content: center;



				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
		

		
			
			
	
			
		
			
			
			
			@media (max-width: 810px) {

                .productcard {
        text-align: left;
    }

    .subcard{
        background-color: rgb(251, 251, 251);
        display: block;

        height: 400px;
        overflow: hidden; /* Para ocultar el contenido que exceda el tamaño del contenedor */
        border: 1.5px solid rgb(234, 234, 234);
    }

    ul {
        gap: 0.5em;
        display: flex;
        flex-wrap: wrap;




        width: 350px; /* Cambia el valor según tu necesidad */
        margin: 0 auto; /* Centra horizontalmente */
        padding: 0; /* Elimina el padding predeterminado */
        list-style: none; /* Elimina los estilos de lista predeterminados */
    }

    .title {
        margin: 0;
        font-size: 25px;
        font-family: 'Charter';
        font-weight: 700;
        text-decoration: none;
    }

    a {
        text-decoration: none;
    }
				ul li {
					width: 100%;
					text-align: center;
				}
				ul li:first-child {
					margin-bottom: 0;
				}

			}
            .productcard {
        text-align: left;
    }
    @media (min-width: 810px) {
    .subcard {
        background-color: rgb(251, 251, 251);
        display: block;
        width: 350px;
        height: 400px;
        overflow: hidden; /* Para ocultar el contenido que exceda el tamaño del contenedor */
        border: 1.5px solid rgb(234, 234, 234);
        transition: all 0.3s ease 0s;
    }

    .subcard:hover {
        -webkit-box-shadow: 8px 5px 40px -13px rgba(212,212,212,1);
-moz-box-shadow: 8px 5px 40px -13px rgba(212,212,212,1);
box-shadow: 8px 5px 40px -13px rgba(212,212,212,1);
    }
    }
    .imageproduct {
        max-width: 100%; /* Ajusta el ancho máximo de la imagen al 100% del contenedor */
        max-height: 100%; /* Ajusta la altura máxima de la imagen al 100% del contenedor */
        display: block; /* Asegura que la imagen sea un elemento de bloque */
        margin: auto; /* Centra la imagen horizontalmente dentro del contenedor */
        padding: 50px; /* Agrega 20px de margen alrededor de la imagen */
        box-sizing: border-box; /* Incluye el padding en el ancho y alto total del elemento */
        
        user-drag: none;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .title {
        margin: 0;
        font-size: 20px;
        font-family: 'Charter';
        font-weight: 700;
        text-decoration: none;
        margin-bottom: 10px;
    }

    a {
        text-decoration: none;
    }

    h2 {
        font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
        font-size: 13px;
        font-weight: 500;
        color: gray;

    }
		</style>
	</head>
	<body>
		<Header />

        <main>
			<section>
				<ul>
					{
						products.map((product) => (
							<li>
                                <div class="productcard">
                                    
								<a href={`/software/nova`}>
                                    <h4 class="title">{product.data.title}</h4>

                                    <div class="subcard">
									<img src={product.data.heroImage} alt="" class="imageproduct"/>
                                </div>
									<p class="date">

									</p>
								</a>
                                </div>

                                <h2 class="desc">{product.data.description}</h2>
							</li>
						))
					}
				</ul>
			</section>

		</main>
        <Download/>
        <MoreFromHook/>
<Footer></Footer>
	</body>
</html>