---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, fullImage, author, authorRole, type } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			main {
				width: 100%;
				margin: 0px;
				padding-top: 0px;
				padding: 0px;
				max-width: 100%;

			}

			h1 {
				font-size: 25px;
			}
			.hero-image {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			img {
				object-fit: cover;
			}
			.hero-image img {



				box-shadow: var(--box-shadow);
			}
			.prose {
				padding-top: -10px;
				padding: 20px;



				width: 90%;

				font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
				font-size: 14px;
				color: rgb(75, 75, 75);
				
			}

			p > *{
				font-size: 12px;
			}
			.title {
				margin-bottom: 1em;
				padding-bottom: -20px;
				text-align: left;
				line-height: 1;	
				font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
				font-size: 20px;
				padding-top: 20px;

			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.date {
				margin-bottom: 20px;
				color: rgb(var(--gray));
				font-size: 15px;
				display: flex;
				gap: 10px;
			}
			.last-updated-on {
				font-style: italic;
				color: rgb(179, 179, 179);
			}

			img {
				width: 100%;
				height: 300px;
				margin: 0px;
				padding: 0px;
				border-radius: 0px;
			}

			br {
				background-color: black;
				color: black;
				width: 2px;
			}

			hr {
				background-color: black;
				color: black;
				width: 2px;
			}



			@media (max-width: 810px) {
				.flex {
					display: block;
				}
			}

 			@media (min-width: 600px) {
				.flex {
					display: flex;
					gap: 20px;
				}
			}

			.social {
				display: flex;
				gap: 20px;
			}
			hr {
				background-color: rgb(127, 127, 127);
				width: 1.5px;
				height: 12px;
				margin: 0px;
				margin-top: 2px;
				border-radius: 2px;
			}

			h6 {
				color: rgb(127, 127, 127);
				display: flex;
				gap: 5px;
			}

			.author {

				text-decoration: underline;
				display: flex;
				gap: 10px;
				margin-right: 5px;
			}

			.back {
				padding-left: 5px;
				padding-right: 5px;
				background-color: rgb(235, 235, 235);

			}

			.bold {
				font-weight: 600;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div class="hero-image">
					{fullImage && <img src={fullImage	} alt="" />}
				</div>
				<div class="prose">
					<div class="title">
						<h1>{title}</h1>
						<div class="date">
							<div class="bold">
								{type}
							</div>
							<hr>
							<FormattedDate date={pubDate} />

							
							{
								updatedDate && (
									<div class="last-updated-on">
									 Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}


						</div>

						<div class="flex">
						<h6>By <span class="author">{author}</span> <span class="back">{authorRole}</span></h6>
							<span class="social">
						<a href="https://www.instagram.com/byhookcorporation"><h6>Instagram</h6></a>
						<a href="https://www.hookcorporation.com/byhookcorporation"><h6>Nova</h6></a>
						<a href="https://www.hookcorporation.com/byhookcorporation"><h6>Magazine</h6></a>
						<a href="https://www.linkedin.com/byhookcorporation"><h6>LinkedIn</h6></a>
					</span>
						</div>



						<br>

					</div>
					<slot />

				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
